body {
    font-family: Verdana, Tahoma, sans-serif;
    margin: 15px;
    padding: 0;
    background-color: #221515;
    color: #F7E1BC;
    padding: 6px;
    border: 1px solid #F7E1BC;
}

header {
    position: fixed;
    background-color: #F7E1BC;
    padding: 1rem ;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    box-shadow: 2px 3px 10px #000000;
    width: 95%;
}

.tagline p1{
    color: #F7E1BC;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 73px;
    font-weight: bold;
    margin-top: 200px;
    justify-content: center;
}
.tagline {
    color: #fff;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 73px;
    font-weight: bold;
    margin-top: 330px;
    margin-left: 50px;
    text-shadow: 1px 2px 4px black;
    justify-content: center;
    width: 50%;
}

.side-image {
    margin-top: -31%;
    margin-left: 55%;
    height: 620px;
    width: 650px;
}

#ha{
    padding-left:50%;
}

img {
    max-width: 100%;
}


h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;
    margin: 0; 
    color: #2f1b1b;
    text-shadow: 0px 1px 1px #54372B;
    margin-left: 1%;
}

h1:hover {
    cursor: pointer;
}

#about {
    background-color: #54372B;
    padding: 1rem;
    text-align: center;
    border-radius: 20px;
    animation: fadeIn 0.5s ease-in-out;
    transition: transform 0.3s ease, box-shadow 0.3s ease;


}

#about:hover {
    box-shadow: 1px 3px 12px #000000;
    transform: translateY(-10px);
}

#para2 {
    margin: 50px;
    color: white;
    text-align: justify;
}

nav {
    flex-grow: 1; 
    

}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end; 
    margin-right: 50px;

}

nav li {
    display: inline-block;
    margin: 0 1rem;
}
nav a {
    text-decoration: none;
    color: #54372B;
    font-size: 15px;
    transition: width 2s, height 4s;
}

nav a:hover {
    color: #000000;
}

.container {
    text-align: center;
    padding: 2rem;
}

h2 {
    font-size: 3rem;
    color: #F7E1BC;
    margin-bottom: 1rem;
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
    text-shadow: 1px 1px 3px #000000;

}

p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    line-height: 1.6;
}

.contactus {
    background-color: #54372B;
    color: #F7E1BC;
    padding: 1rem;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    border-radius: 20px;
    animation: fadeIn 0.5s ease-in-out;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.contactus:hover {
    box-shadow: 1px 3px 12px #000000;
    transform: translateY(-5px);
}

.contactus h2 {
    margin-bottom: 55px;
    color: #fff2db;
}
.contactus p {
    color: white;
    text-align: center;
}
.contactus a {
    color: #F7E1BC;
    text-align: center;

}

.CoffeeDescription p1{
    color: #F7E1BC;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 73px;
    font-weight: bold;
    margin-top: 200px;
    justify-content: center;
    text-shadow: 1px 2px 4px black;
    margin-bottom: 50%;

}
.CoffeeDescription {
    color: #fff;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 1.2rem;
    margin-top: 250px;
    margin-left: 47%;
    justify-content: center;
    width: 50%;
}

.coffeedes {
    margin-top: -28%;
    margin-left: 15%;
    height: 600px;
    width: 900px;
}






.FoodDescription p1{
    color: #F7E1BC;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 73px;
    font-weight: bold;
    margin-top: 100px;
    justify-content: center;
    text-shadow: 1px 2px 4px black;
    margin-bottom: 10%;

}
.FoodDescription {
    color: #fff;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 1.2rem;
    margin-top: 200px;
    margin-left: 6%;
    justify-content: center;
    width: 50%;
    margin-bottom: 0%;
}

.fooddes {
    margin-top: -22%;
    margin-left: 66%;
    height: 600px;
    width: 900px;
    
}





.AmbienceDesign p1{
    color: #F7E1BC;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 73px;
    font-weight: bold;
    margin-top: 200px;
    justify-content: center;
    text-shadow: 1px 2px 4px black;
    margin-bottom: 50%;

}
.AmbienceDesign {
    color: #fff;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 1.2rem;
    margin-top: 250px;
    margin-left: 50%;
    justify-content: center;
    width: 50%;
}

.ambiencedes {
    margin-top: -20%;
    margin-left: 7%;
    margin-bottom: 15%;
    height: 100%;
    width: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.storeimg {
    height: 350px;
    width: 350px;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}
.storeimg:hover {
    transform: translateY(-10px);
    box-shadow: 1px 2px 8px black;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #54372B;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #fff;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}


@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}






