body{
    background-image: url(coffeeshopproject/lrbk.png);
    background-color: #221515;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: ;

}

.box{
    height: 560px;
    width: 500px;
    background-color:#F7E1BC ;
    margin: auto;
    margin-top: 250px;

}


.boxlogin{
    height: 425px;
    width: 500px;
    background-color: #F7E1BC;
    margin: auto;
    margin-top: 250px;
}


.form{
    padding: 20px;
}

.login{
    padding: 20px;
}


#FristName{
    border: 1px solid gray;
    margin-bottom: 5px;
    padding: 18px ;
}

#LastName{
    border: 1px solid gray;
    margin-bottom: 5px;
    padding: 18px;
}

#Email{
    border: 1px solid gray;
    margin-bottom: 5px;
    padding: 18px;
}

#Password{
    border: 1px solid gray;
    margin-bottom: 5px;
    padding: 18px;
}
#Emaillogin{
    border: 1px solid gray;
    padding: 18px;
}


#Passwordlogin{
    border: 1px solid gray;
    padding: 18px;
}
#buttonlogin{
    background-color: black;
    border: none;
    color: white;
    padding: 18px 198px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-bottom: 0px;
    
    

}

#button{
    background-color: black;
    border: none;
    color: white;
    padding: 18px 198px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-bottom: 0px;

}
a:hover{
    color:goldenrod;
}
.loginn:hover {
    color:goldenrod;
    

}

.button:hover{
    background-color:goldenrod;

}

.create:hover{
    color:goldenrod;

}